[Desktop Entry]
Encoding=UTF-8
Name=Spice
Comment=Spice P2P Cryptocurrency
Comment[fr]=Spice, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Spice, eşten eşe kriptografik sanal para birimi
Exec=spice-qt %u
Terminal=false
Type=Application
Icon=spice128
MimeType=x-scheme-handler/spice;
Categories=Office;Finance;
